In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [5]:
def getData(url):
    headers = {'User-Agent': 'Mozilla/5.0'}
    response = requests.get(url, headers=headers)
    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        table = soup.find('table', id='ContentPlaceHolder1_gvbulk_deals')
        data = []
        for row in table.find_all('tr'):
            row_data = []
            for cell in row.find_all(['td', 'th']):
                row_data.append(cell.text.strip())
            data.append(row_data)
        
        return data
    
    else:
        print("Error occured")

In [13]:

data = getData("https://www.bseindia.com/markets/equity/EQReports/bulk_deals.aspx")
df = pd.DataFrame(data[1:])
df.columns = ['Deal_Date', 'Security_Code', 'Security_Name', 'Client_Name', 'Deal_Type', 'Quantity', 'Price']

df.head()

,Deal_Date,Security_Code,Security_Name,Client_Name,Deal_Type,Quantity,Price
0,04/08/2023,543319,AAPLUSTRAD,AJAY SALVI,S,"64,000",10.95
1,04/08/2023,543941,AHASOLAR,WORLD FOODS LLP,S,"16,800",363.30
2,04/08/2023,543941,AHASOLAR,YUGA STOCKS AND COMMODITIES PRIVATE LIMITED .,B,"16,000",363.30
3,04/08/2023,543453,ALKOSIGN,GOVINDARAJAN,B,"39,000",120.00
4,04/08/2023,512149,AVANCE,MULTIPLIER SHARE & STOCK ADVISORS PRIVATE LIMITED,B,"3,073,143",1.49

['Deal Date',
 'Security Code',
 'Security Name',
 'Client Name',
 'Deal Type *',
 'Quantity',
 'Price **']

In [9]:
# Storing in Mysql database

In [10]:
import mysql.connector
from sqlalchemy import create_engine

In [16]:
mysql_username = 'parikshit'
mysql_password = '12345678'
mysql_host = 'localhost'
mysql_database = 'BSE'

# Connect to MySQL
conn = mysql.connector.connect(
    host=mysql_host,
    user=mysql_username,
    password=mysql_password,
    database=mysql_database
)

# Create a SQLAlchemy engine to handle the connection
engine = create_engine(f'mysql+mysqlconnector://{mysql_username}:{mysql_password}@{mysql_host}/{mysql_database}')

# Replace 'df' with your DataFrame
# Assuming your DataFrame columns align with the columns in the MySQL table
df.to_sql('Market_Data', con=engine, if_exists='append', index=False)

# Close the connection
conn.close()